*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:auto;
    font-family: 'Roboto', sans-serif;
}