.container {
    margin: $layout-margin;
    padding: $grid-gutter $grid-gutter 0 $grid-gutter;
    @include border($colour-accent);
}
.select
{
    @extend .prix;
       
    background-color: #99E2D0;
    color: #fff;
    font-size: 24px;
    padding: 17px;
    border-radius: 0 20% 20% 0;
    opacity: 0;
    cursor: pointer;
   
    
    
    &:hover
    {
      animation: gliss .6s ease-in-out;    
      opacity: 1;
      
      
    }
    @keyframes gliss
    {
        
       50% {
           transform: translateX(-29px);}       
           
        
    }

}