@mixin formetitre {
    font-family: 'ROBOTO', sans-serif;
    font-size: 15px;
    font-weight:599 ;
    margin-left: 9px;
    padding-top: 1px;   
  }
  @mixin coeur 
  {
    position: absolute;
    cursor: pointer;
    font-size: 23.5px;
    right: 2.5rem;
    top: 72.5rem;
    opacity: 1;
     color:rgba(0, 0, 0, 0.705);
  }