
.btn
{
    border-radius: 2rem;
    border:0;
    box-shadow: 3px 3px 3px $colour-grey;
    color:$colour-white;
    padding: 1rem 1.5rem 1rem 1.5rem;
    cursor: pointer;
    text-decoration: transparent;
    background-image:linear-gradient(to bottom, #FF79DA 1%, #9356DC 91%) ;
}