@import url(assets\utils\responsive.scss);
@import url(assets\layout\nav.scss);

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-white: #fff;
$colour-black: #000;
$colour-grey:#eaeaea;
$colour-greylight: #f6f6f6;
$colour-secondarylight:#efe3fd;
$colour-shadow:#dedada;


    




p

{
    color:$colour-black;
    
}
.logo {
   
    background-color: $colour-white;
    display: block;
    margin: 1.1em auto;
}



body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:auto;
    font-family: 'Roboto', sans-serif;
}
.position 

{
    
    text-align: center;
    background-color: #f6f6f6;
    block-size: auto;
    padding-bottom: 4rem;

}


.form 
{
 display: inline-flex;
 
 justify-content: center;
 text-align:center;
  width: 100%;
 background-color:$colour-grey;
 box-shadow: 0px 3px 3px #73737338 inset;
 font-weight: 500;
 color: rgba(0, 0, 0, 0.61);
}


#logosearch 
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
       
}
h3
{

    font-weight: 799;
    font-size: 1.7em;
    color: black;
    margin-top: 1.5em;
}
.marge
{
    margin-bottom: 3rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.555);
    font-weight: 400;
    margin-top: -1rem;
}

.btn
{
    border-radius: 2rem;
    border:0;
    box-shadow: 3px 3px 3px $colour-grey;
    color:$colour-white;
    padding: 1rem 1.5rem 1rem 1.5rem;
    cursor: pointer;
    text-decoration: transparent;
    background-image:linear-gradient(to bottom, #FF79DA 1%, #9356DC 91%) ;
    box-shadow: 5px 5px 5px $colour-shadow;
    
}
.btn1
{
    @extend .btn;
    margin:10% 25% 10% 25%;
    text-align: center;

}
    
.nav
{
   display: inline-flex;
   background-color: $colour-greylight;
   margin: 12px 16px 10px 27px;
   padding: 10px 0px 10px 0px;
   align-items: center;
  width: 85%;
   justify-content: left;
   border-radius: 20px;
   box-shadow: 3px 3px 10px $colour-shadow;

   &:hover
{
   background-color: $colour-secondarylight;
}

   &--number
{
  

   background-color:$colour-primary;
   border: 1px solid $colour-primary;
   border-radius: 50%;
   padding:11px 0px 0px 3px;
   margin: 0px 0px 0px -14px;
   font-size: 12px;
       
}



 &--logo
{
font-size: 25px;
color:#7e7e7e ;
margin:5px 20px 5px 20px;
}
&--titre
{

font-weight: 550;
margin-left: 1rem;
font-size: 1rem;

}
}

.restaurant
{
    background-color:#f6f6f6 ;
    height: 1139px;
    padding: 1em 1em 1em 0em;
    margin-top: 3.5em;
 
}

.restaurant-img
{

  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
  width: 100%;
  height: 165px;
  object-fit:cover;
  margin-bottom: -33px;
  
  }
.restaurant-couverture
{
  background-color: white;
  border-radius: 15px;  
  cursor: pointer;
   margin:29px auto auto 20px;
       
  }
  .restaurant-caractère
  {
    font-weight: 505;
    margin-left: 1rem;
    font-size: 1.2rem;
    margin-top: 2.4rem;
  }

  #restaurant--link
    {
        text-decoration:transparent;
    }
    
  
  .restaurant-caractère-emplacement
   {
       margin-left: 1rem;
       margin-top: -0.8rem;
       padding-bottom: 0.5rem;
         
   }
  h2
  {
    font-weight: 600;
     font-size: 1.5em;
    color: black;
    margin: 2em 1em 1em 0.5em;}
      
h4 
{
   font-weight: 450;
   font-size: 1.1em;
   color: black;
   color: #fff;
   margin: 6px 10px 4px 2.5px;
   }
  
  .heart 
   {
	position: absolute;
	cursor: pointer;
	font-size: 23.5px;
	right: 2.5rem;
	top: 72.5rem;
	opacity: 1;
    color:rgba(0, 0, 0, 0.705);
       
    }
  
  .heart1
  {
    @extend .heart;
    opacity: 0;
    top: 72.5rem;
    font-size: 24px;
	 &:hover
    {
       opacity: 1;
       color: #9356DC;
    }
  }
   
   .heart2
   {
	@extend .heart;
	top:89rem;
	
    }
    .heart3
   {
	@extend .heart1;
	top:89rem;
	}
    .heart4
   {
	@extend .heart;
	top: 105rem;
	
    }
    .heart5
   {
	@extend .heart1;
	 top: 105rem;
	
    }
    .heart6
   {
	@extend .heart;
	top: 121.2rem;
	
    }
   
    .heart7
    {
     @extend .heart1;
     top: 121.2rem;
         
     }
     
     .nouveau {
        
        background-color: #99E2D0;
        color: rgb(0, 128, 79);
        border-radius: 2px;
        padding: 3px 10px 4px 10px;
        top: 987px;
        right: 24px;
        font-weight: 417;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        position: absolute;
    }
    
    .nouveau1
    {
        @extend .nouveau;
        top: 1247px;
    }
     
  footer
  {
      

      background-color: rgba(0, 0, 0, 0.719);
      
      
  }
  .footer
  {  
      margin: 26px;
      
  }

 .proposition
 {  
     display:inline-flex; 
     align-items: center;
     color: $colour-white;
     font-family: 'Roboto', sans-serif;
     }

.proposition--1
{
    text-decoration: transparent;
    margin: -1px 1px 6px 6px;
    color:$colour-white;
}
.proposition--2
{   
    text-decoration:transparent;
    color: $colour-white;
    font-family: roboto, sans-serif;
   
   
}
h1
{
    color:$colour-white;
    font-family: 'Shrikhand', sans-serif;
    font-size: 24px;
    font-weight:200;
}


.blanc 
{  color:$colour-white;
        margin-right: 11px;
        margin-left: 8px;
        font-size: 14px;
        margin-top: -3px;
        margin-bottom: 8px;
        float: 10px;
}

    
   

.noir
{
    color:inherit;
    font-size: 5px 0px 5px 5px;
}
.return
{ display: inline;
   position: absolute;
   top: 1.5rem;
   left: 1rem;
   color: $colour-black;

}
.headerlogo
{
    text-align: center;
    margin-top: 1rem;
}
#marge
{
    margin-left: 9px;
}
.menu__foto
{
         width: 100%;
        height:250px;
         object-fit: cover;}
/*cartes menus*/         
h5  {
    font-size: 1.6rem;
    margin: 25px;
    font-family: "shrikhand", sans-serif;
    text-align: left;}

.plan
{
    
    background-color:$colour-greylight;
    border-radius: 37px 37px 0px 0px;
    margin-top: -42px;
    width: 100%;

}        
.heart8
{
 @extend .heart;
 right: 2.5rem;
 top: 299px;

 
 }

 .heart9
 {
  @extend .heart1;
  right: 2.5rem;
  top: 299px;

  }
.menu
{
margin-left:25px;
margin-bottom: 10px;
font-size: 18px;
font-family: 'Roboto,'sans-serif;
color: #7e7e7e;
border-bottom: 5px solid $colour-accent;
width: 14%;
}

.plan__menu
{
    background-color: $colour-white;
    width: 96%;
    margin: auto;
    border-radius: 12px 12px;
    font-family: 'Roboto',sans-serif;
}
.titre
{
    font-family: 'ROBOTO', sans-serif;
    font-size: 15px;
    font-weight:599 ;
    margin-left: 12px;
    padding-top: 1px;
}
.details
{
    @extend .titre;
    font-weight: 400;
    margin-top: -16px;
    padding-bottom: 9px;
}
.prix
{
    display: inline;
    position:absolute;
    left:281px;
    top:431px;
    cursor: pointer;
       
     &:hover
      {
      animation: gliss .9s ease-in-out;    
       
      }
    @keyframes gliss
    {
        
       50% {
           transform: translateX(-60px);}  
        100% {
            transform: translateX(1px);
        opacity: 0}     
           
      
    }
    
}
.prix1
{
    @extend .prix;
    top:502px;
    
}
.prix2
{
    @extend .prix;
    top:578px;
   
}
.prix3
{
    @extend .prix;
    top:697px;
}
.prix4
{
    @extend .prix;
    top:772px;
}
.prix5
{
    @extend .prix;
    top:848px;
}
.prix6
{
    @extend .prix;
    top:967px;
}
.prix7
{
    @extend .prix;
    top:1042px; 
}
.prix8
{
    @extend .prix;
    top:1114px;
}

 
.margin
{
margin-bottom: 5px;
}
    
@media only screen and (min-width: 768px) 
{
/*grand ecran et tablette*/

.fonctionnement
{
width: 50%;
position: absolute;
right: -23px;
top: 38px;
}
.position
{
    width: 50%;
}
}