@charset "UTF-8";
p {
  color: #000;
}

.logo {
  background-color: #fff;
  display: block;
  margin: 1em auto;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-family: roboto, sans-serif;
}

.position {
  text-align: center;
  background-color: #fdfafa;
  block-size: auto;
  padding-bottom: 4rem;
}

.form {
  display: inline-flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  border-color: #d8d5d5;
  width: 100%;
  height: 5%;
  background-color: #eaeaea;
  border-top: 2em;
  box-shadow: 0px 3px 3px #73737338 inset;
}

input {
  background-color: #eaeaea;
  border: none;
  color: black;
  margin-right: -41px;
}

#logosearch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-bottom: 0.5em;
}

.marge {
  padding-bottom: 1rem;
  font-size: 1.1rem;
}

.btn {
  border-radius: 2rem;
  border: 0;
  box-shadow: 3px 3px 3px #eaeaea;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  text-decoration: transparent;
  background-image: linear-gradient(to right, #FF79DA 9%, #9356DC 91%);
}

.nav {
  display: inline-flex;
  background-color: #f6f6f6;
  margin: 1rem;
  padding: 1rem 0 1rem 0;
  align-items: center;
  width: 91%;
  justify-content: left;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px #dedada;
}

.nav:hover {
  background-color: #f5aadc;
}

.nav-number {
  font-size: 12px;
  color: #fdfafa;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0px 13px 0px 10px;
  margin: 0 10px 0 -11px;
  font-weight: bold;
}

.nav-logo {
  font-size: 25px;
  color: #7e7e7e;
  margin: 5px 20px 5px 20px;
}

.nav-titre {
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.1rem;
}

.restaurant {
  background-color: #eaeaea;
  height: 1086px;
  padding: 1em 1em 1em 0em;
}

.restaurant-img {
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
  width: 100%;
  height: 165px;
  object-fit: cover;
  margin-bottom: -33px;
}

.restaurant-couverture {
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  margin: 29px auto auto 20px;
}

.restaurant-caractère {
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.restaurant-caractère-emplacement {
  margin-left: 1rem;
  margin-top: -0.8rem;
  padding-bottom: 0.5rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin: 1em 1em 1em 1em;
}
h2 h4 {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin: 1em 1em 1em 1em;
}

.heart {
  position: absolute;
  cursor: pointer;
  transform-origin: bottom;
  font-size: 24px;
  right: 1.5rem;
  bottom: -20.5rem;
  opacity: 1;
}

.heart1 {
  position: absolute;
  cursor: pointer;
  transform-origin: bottom;
  font-size: 24px;
  right: 1.5rem;
  bottom: -20.5rem;
  opacity: 1;
}

.heart2 {
  position: absolute;
  cursor: pointer;
  transform-origin: bottom;
  font-size: 24px;
  right: 1.5rem;
  bottom: -36.5rem;
  opacity: 1;
}

.heart3 {
  position: absolute;
  cursor: pointer;
  transform-origin: bottom;
  font-size: 24px;
  right: 1.5rem;
  bottom: -36.5rem;
  opacity: 1;
}

.heart4 {
  position: absolute;
  cursor: pointer;
  transform-origin: bottom;
  font-size: 24px;
  right: 1.5rem;
  bottom: -52.5rem;
  opacity: 1;
}

.heart5 {
  position: absolute;
  cursor: pointer;
  transform-origin: bottom;
  font-size: 24px;
  right: 1.5rem;
  bottom: -52.5rem;
  opacity: 1;
}

.heart6 {
  position: absolute;
  cursor: pointer;
  transform-origin: bottom;
  font-size: 24px;
  right: 1.5rem;
  bottom: -68.5rem;
  opacity: 1;
}

.heart7 {
  position: absolute;
  cursor: pointer;
  transform-origin: bottom;
  font-size: 24px;
  right: 1.5rem;
  bottom: -68.5rem;
  opacity: 1;
}

.heart1:hover {
  position: absolute;
  cursor: pointer;
  background-image: #9356DC;
}

footer {
  width: 100%;
  background-color: black;
}

.footer {
  margin: 15px;
  color: #fdfafa;
}

.proposition {
  margin-block: -1.9rem;
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-family: roboto, sans-serif;
}

.proposition--1 {
  text-decoration: transparent;
  margin: 10px;
  color: #fff;
}

.proposition--2 {
  text-decoration: transparent;
  color: #fff;
  font-family: roboto, sans-serif;
}

h1 {
  color: #fdfafa;
  font-family: roboto, sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  font-style: italic;
}

.blanc {
  color: #fdfafa;
  font-size: 13px;
}

.noir {
  color: inherit;
  font-size: 15px;
}

.return {
  display: inline;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  color: #000;
}

.headerlogo {
  text-align: center;
  margin-top: 1rem;
}

.menu__foto {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

h5 {
  font-size: 1.6rem;
  margin: 0;
  font-family: "shrikhand", sans-serif;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
