body {
    font-family: 'Roboto', sans-serif;
    color: $colour-primary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:auto;
    font-family: 'Roboto', sans-serif;

      .position 

     {
    
    text-align: center;
    background-color: #fdfafa;
    block-size: auto;
    padding-bottom: 4rem;
    }
}    
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}
h2
{
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin: 1em 1em 1em 1em;
  }
  
  h4
  {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin: 1em 1em 1em 1em;
}
h5  {
    font-size: 1.6rem;
    margin: 25px;
    font-family: "shrikhand", sans-serif;
    text-align: left;}